.arr-container {
  margin: auto;
  margin-top: 5%;
  width: 100%;
}

.arr-bar {
  width: 2px;
  background-color: #0ac476;
  display: inline-block;
  margin: 0 1px;
}

.btn {
  color: white;
  border-color: #0ac476;
  background-color: #0ac476;
  margin-left: 5px;
}

.btn:hover {
  color: white;
  border-color: #0ca163;
  background-color: #0ca163;
}

.btn:focus {
  color: white;
  border-color: #01e083;
  background-color: #01e083;
}

.dropdownToggle {
  background-color: #636c70;
  border-color: #636c70;
}

.dropdownToggle:hover {
  background-color: #42484b;
  border-color: #42484b;
}

.dropdownToggle:focus {
  background-color: #636c70;
  border-color: #636c70;
}

.navItem-text {
  margin-left: 20px;
  padding: 5px;
}

.navItem {
  padding: 5px;
}
